<section th:fragment="admin_nav" xmlns:th="http://www.thymeleaf.org">
    <div class="mb-2">
        <a  class="btn" th:classappend="${page == 'users' ? 'btn-primary active' : 'btn-outline-primary'}" th:href="@{/dashboard/users}">Users</a>
        <a  class="btn" th:classappend="${page == 'news' ? 'btn-primary active' : 'btn-outline-primary'}" th:href="@{/dashboard/news}">Noticias</a>
        <a  class="btn" th:classappend="${page == 'comments' ? 'btn-primary active' : 'btn-outline-primary'}" th:href="@{/dashboard/comments}">Comentarios</a>
        <a  class="btn" th:classappend="${page == 'categories' ? 'btn-primary active' : 'btn-outline-primary'}" th:href="@{/dashboard/categories}">Categories</a>
    </div>
</section>