<section th:fragment="change_main_featured" xmlns:th="http://www.thymeleaf.org">
    <!-- Modal -->
    <div class="modal modal-xl fade" id="mainFeatured" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Seleccionar noticia</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-6">
                    <section>
                        <div class="row">
                            <div class="col-4">
                                <div class="input-group">
                                    <span class="input-group-text">Autor</span>
                                    <input type="text" aria-label="First name" class="form-control mainSearch" name="reporterName" placeholder="Nombre">
                                    <input type="text" aria-label="Last name" class="form-control mainSearch" placeholder="Apellido"
                                        name="reporterLastname">
                                </div>
                            </div>
                            <div class="col-6 mb-3">
                                <div class="input-group">
                                    <span class="input-group-text">Titulo</span>
                                    <input type="text" class="form-control mainSearch" id="exampleInputPassword1"
                                        name="newsTitle">
                                </div>
                            </div>
                            <div class="col-2 mb-3">
                                <div class="input-group">
                                    <input type="date" class="form-control mainSearch" name="newsDate">
                                </div>
                            </div>
                        </div>
                        <button id="searchBtn" class="col-3 btn btn-primary">Buscar</button>
                        <button id="clearSearchBtn" class="col-3 btn btn-primary">Limpiar busqueda</button>
                    </section>
                    <section>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Categoria</th>
                                    <th scope="col">Titulo</th>
                                    <th scope="col">Autor</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody id="mainSearchList">
                                <div th:if="${latestEmpty}">
                                    <tr>
                                        <td colspan="5">No hay noticias cargadas</td>
                                    </tr>
                                </div>
                                <tr th:each="latestN : ${latest}">
                                    <th colspan="3" th:text="${latestN.categoryName}"></th>
                                    <td th:text="${featured.newsTitle}"></td>
                                    <td th:text="${featured.newsAuthor}"></td>
                                    <td>FECHA</td>
                                    <td><button class="btn btn-primary">Seleccionar</button></td>
                                </tr>

                            </tbody>
                        </table>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>
</section>