<section th:fragment="edit_user" xmlns:th="http://www.thymeleaf.org">
    <div class="modal modal-lg fade" id="exampleModal" data-bs-backdrop="static" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title fs-5">Edicion</h2>
                    <button type="button" class="btn-close modal-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary modal-close" data-bs-dismiss="modal">Cerar</button>
                    <button type="button" form="roleForm" class="btn btn-primary" id="modal-save">Guardar cambios</button>

                </div>
            </div>
        </div>
    </div>
    <template id="modal-body-template">
        <section>
            <h3 id="modal-user-name" class="fs-5 mb-0"></h3>
            <h3 id="modal-user-email" class="fs-6 fw-normal mb-3"></h3>
            <div>
                <div class="row">
                    <div class="col-2"><button id="modal-current-rol" class="btn btn-outline-secondary w-100 pe-none"></button>
                    </div>
                    <div class="col-1">
                        <button class="btn btn-secondary pe-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                            </svg>
                        </button>
                    </div>
                    <form class="col-9" id="roleForm" method="post" action="/role/edit/id">
                        <div class="row">
                    <div class="col-5">
                        <select id="modal-roles-menu" class="form-select" aria-label="Default select example" name="role">
                            <option value="newRole" selected>Nuevo Rol</option>
                        </select>
                    </div>
                    <div class="col-7">
                        <div class="input-group" id="modal-salary"></div>
                    </div>
                </div>
                </form>
                </div>


            </div>
        </section>
    </template>
</section>