<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="~{fragments/head :: head (title ='Noticias')}"></div>

<body>
<div th:replace="~{fragments/header :: header}"></div>

<main class="container">
    <div th:replace="~{admin_dashboard/fragments/admin_nav :: admin_nav}"></div>
    <div th:replace="~{admin_dashboard/fragments/admin_nav_news :: admin_nav_news}"></div>
    <section>
    <table class="table">
        <thead>
            <tr class="text-center">
                <th colspan="4">Princial Home</th>
            </tr>
            <tr>
                <th>Titulo</th>
                <th>Fecha</th>
                <th>Autor</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
        <div th:if="${mainFeatured == null}">
            <tr>
                <td colspan="3">No se encontro ninguna noticia destacada</td>
                <td colspan="3"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mainFeatured" id="mainBtn">Seleccionar</button></td>
            </tr>
        </div>
            <tr th:if="${mainFeatured != null}">
                <td th:text="${mainFeatured.newsTitle}"></td>
                <td th:text="${mainFeatured.newsDate}"></td>
                <td th:text="${mainFeatured.reporterEmail}"></td>
                <td th:text="${mainFeatured.newsCategory}"></td>
                <td><button class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#mainFeatured" id="mainBtn">Cambiar</button></td>

            </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr class="text-center">
                <th colspan="4">Destacadas Home</th>
            </tr>
            <tr>
                <th>Titulo</th>
                <th>Fecha</th>
                <th>Autor</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
        <div th:if="${featuredEmpty}">
            <tr>
                <td colspan="3">No se encontro ninguna noticia recomendada</td>
                <td colspan="3"><button type="button" class="btn btn-primary featuredBtn" data-bs-toggle="modal" data-bs-target="#mainFeatured">Seleccionar</button></td>
            </tr>
        </div>
            <tr th:unless="${featuredEmpty}" th:each="featuredH : ${featured}">
                <td th:text="${featuredH.newsTitle}"></td>
                <td th:text="${featuredH.newsDate}"></td>
                <td th:text="${featuredH.reporterEmail}"></td>
                <td th:text="${featuredH.newsCategory}"></td>
                <td>
                    <a class="btn btn-primary delete-featured"  
                    th:href="@{'/admin/news/featured/' + ${featuredH.newsId} + '?is_featured=false'}">
                        Eliminar
                    </a>
                </td>
            </tr>
            <tr th:unless="${featuredEmpty}">
                <td>Agregar otra</td>
                <td><button type="button" class="btn btn-primary featuredBtn" data-bs-toggle="modal" data-bs-target="#mainFeatured">Seleccionar</button></td>
            </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
        <tr class="text-center">
            <th colspan="5">Princial por categoria</th>
        </tr>
        <tr>
            <th scope="col">Categoria</th>
            <th scope="col">Titulo</th>
            <th scope="col">Fecha</th>
            <th scope="col">Autor</th>
            <th scope="col">Cambiar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="featured : ${featuredByCategory}" class="align-items-center">
            <th th:text="${featured.categoryName}"></th>
                <td th:if="${featured.hasFeatured == false}" class="row align-items-center">
                    <p class="color-danger col-9">No hay ninguna noticia destacada para esta categoria</p>
                    <button type="button" th:id="${featured.categoryId}" class="btn btn-primary categoryBtn col-3" data-bs-toggle="modal" data-bs-target="#mainFeatured">Seleccionar</button>
                </td>
        
            <div th:if="${featured.hasFeatured == true}">
            <td th:text="${featured.news.newsTitle}"></td>
            <td th:text="${featured.news.newsDate}"></td>
            <td th:text="${featured.news.reporterName}"></td>
            <td><button class="btn btn-primary categoryBtn" th:id="${featured.categoryId}" data-bs-toggle="modal" data-bs-target="#mainFeatured">Cambiar</button></td>


            </div>
        </tr>
        </tbody>
    </table>
    </section>

    <section th:replace="~{admin_dashboard/fragments/change_main_featured :: change_main_featured}"></section>

</main>
<script type="module" th:src="@{/scripts/admin_dashboard/main_search.js}"></script>
</body>
</html>