<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="~{fragments/head :: head (title ='Noticias')}"></div>

<body>
<div th:replace="~{fragments/header :: header}"></div>

<main class="container">
    <div th:replace="~{fragments/admin_nav :: admin_nav}"></div>
    <div th:replace="~{fragments/admin_nav_news :: admin_nav_news}"></div>
    <section>
    <table class="table">
        <thead>
            <tr class="text-center">
                <th colspan="4">Princial</th>
            </tr>
            <tr>
                <th>Titulo</th>
                <th>Fecha</th>
                <th>Autor</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${mainFeatured == null}" colspan="3" class="text-center">
                <th th:text="${mainFeaturedError}"></th>
                <th><button class="btn btn-primary">Seleccionar</button></th>
            </tr>
            <tr th:if="${mainFeatured != null}">
                <th th:text="${mainFeatured.title}"></th>
                <th th:text="${mainFeatured.createdAt}"></th>
                <th th:text="${mainFeatured.author.user.email}"></th>
                <th th:text="${mainFeatured.mainCategory.name}"></th>
                <th><button class="btn btn-primary">Cambiar</button></th>

            </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
        <tr class="text-center">
            <th colspan="5">Princial por categoria</th>
        </tr>
        <tr>
            <th>Categoria</th>
            <th>Titulo</th>
            <th>Fecha</th>
            <th>Autor</th>
            <th>Cambiar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="featured : ${featuredByCategory}">
            <th th:text="${featured.categoryName}"></th>
            <th th:unless="${hasFeatured == false}"><button class ="btn btn-primary">Agregar</button></th>
            <div th:if="${hasFeatured}">
            <th th:text="${featured.newsTitle}"></th>
            <th th:text="${featured.newsAuthor}"></th>

            </div>
            <th>modal cambiar</th>
        </tr>
        </tbody>
    </table>
    </section>

</main>
</body>
</html>