<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="~{fragments/head :: head (title ='Egg News')}"></div>

<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <main class="container">
        <div th:replace="~{admin_dashboard/fragments/admin_nav :: admin_nav}"></div>
        <div th:replace="~{admin_dashboard/fragments/admin_nav_users :: admin_nav_users}"></div>
        <div th:replace="~{admin_dashboard/fragments/admin_nav_users_state :: admin_nav_users_state (${role})}"></div>
        <section>
            <table class="table">
                <thead>
                    <tr class="table-primary">
                        <th class="col-3">Nombre</th>
                        <th class="col-3">Email</th>
                        <th scope="col">Salario mensual</th>
                        <th colspan="2" class="col-2">Edicion</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider align-middle">
                    <tr th:each="employee : ${employees}">
                        <th th:text="${employee.userInfo.name}+' '+${employee.userInfo.lastname}" class="reporterName">
                        </th>
                        <td th:text="${employee.userInfo.email}"></td>
                        <td><span>$</span><span th:text="${employee.monthlySalary != null ? employee.monthlySalary : 0}"></span></td>
                        <td>
                            <button th:if="${employee.employeeEnabled}" class="btn btn-warning btn-modal"
                                th:attr="data-id=${employee.userInfo.id}, data-role=${employee.userInfo.role}, data-name=${employee.userInfo.name + ' ' + employee.userInfo.lastname}, data-email=${employee.userInfo.email}, data-salary=${employee.monthlySalary}"
                                data-bs-toggle="modal" data-bs-target="#exampleModal">Editar</button>
                        </td>
                        <td>
                            <a  th:if="${employee.employeeEnabled}" class="btn btn-danger"
                            th:href="@{'/admin/employee/active/' + ${employee.employeeId} + '?active=' + ${employee.employeeEnabled ? 'false' : 'true'} + '&role=' + ${role} + '&state=' + ${state} + '&pagenumber=' + ${currentPage}}"
                            >
                            <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                              </svg>
                            </a>

                            <a  th:unless="${employee.employeeEnabled}" class="btn btn-success"
                            th:href="@{'/admin/employee/active/' + ${employee.employeeId} + '?active=' + ${employee.employeeEnabled ? 'false' : 'true'} + '&role=' + ${role} + '&state=' + ${state} + '&pagenumber=' + ${currentPage}}"
                            >Activar
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <section>
                <nav class="d-flex justify-content-center" th:if="${totalPages > 1}" aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a th:if="${currentPage != 1}" th:href="@{'/dashboard/role/' + ${role} + '?page_number=' + ${currentPage - 1} + '&state=' + ${state}}" class="page-link">Anterior</a>
                            <p th:if="${currentPage == 1}" class="page-link">Anterior</p>
                        </li>
                        <li th:each="i : ${#numbers.sequence(1, totalPages)}" th:class="${i == currentPage ? 'page-item active' : 'page-item'}">
                            <a th:href="@{'/dashboard/role/' + ${role} + '?page_number=' + ${i} + '&state=' + ${state}}" class="page-link">[[${i}]]</a>
                        </li>
                        <li class="page-item">
                            <a th:if="${currentPage != totalPages}" th:href="@{'/dashboard/role/' + ${role} + '?page_number=' + ${currentPage + 1} + '&state=' + ${state}}" class="page-link">Siguiente</a>
                            <p th:if="${currentPage == totalPages}" class="page-link">Siguiente</p>
                        </li>
                    </ul>
                </nav>
            </section>
        </section>
       <section th:replace="~{admin_dashboard/fragments/edit_user}"></section>

    </main>
    <script type="text/javascript" th:src="@{/scripts/changerole.js}"></script>

</body>

</html>