<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="~{fragments/head :: head (title ='Noticias')}"></div>

<body>
<div th:replace="~{fragments/header :: header}"></div>
<main class="container">
  <div th:replace="~{admin_dashboard/fragments/admin_nav :: admin_nav}"></div>
  <div> <a class="btn btn-primary" th:href="@{/dashboard/news}">Destacadas</a>
    <a class="btn btn-primary" th:href="@{/dashboard/news/all}">Todas las noticias</a></div>

  <section>
  <table class="table">
    <thead>
    <tr class="text-center">
      <th colspan="4">Princial</th>
    </tr>
    <tr>
      <th>Titulo</th>
      <th>Fecha</th>
      <th>Autor</th>
      <th>Categoria</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${allNewsError}" colspan="3" class="text-center">
      <th th:text="${allNewsError}"></th>
    </tr>
    <tr th:each="newsL : ${news}">
      <th th:text="${newsL.title}"></th>
      <th th:text="${newsL.createdAt}"></th>
      <th th:text="${newsL.author.user.email}"></th>
      <th th:text="${newsL.mainCategory.name}"></th>
    </tr>
    </tbody>
  </table>
  </section>

</main>
</body>
</html>