<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="~{fragments/head :: head (title ='Egg News')}"></div>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main class="container">
    <div th:replace="~{admin_dashboard/fragments/admin_nav :: admin_nav}"></div>
    <div th:replace="~{admin_dashboard/fragments/admin_nav_users :: admin_nav_users}"></div>
    <div th:replace="~{admin_dashboard/fragments/admin_nav_users_state :: admin_nav_users_state (${role})}"></div>
    <section>
        <table class="table">
            <thead>
            <tr class="table-primary">
                <th scope="col">Nombre</th>
                <th scope="col">Email</th>
                <th scope="col">Cambiar estado</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <th th:text="${user.name}+' '+${user.lastname}"></th>
                <th th:text="${user.email}"></th>
                <th>
                    <button class="btn btn-primary"></button>
                </th>
                <th>
                    <a class="btn"
                       th:classappend="${user.enabled ? 'btn-danger' : 'btn-success'}"
                       th:href="@{'/admin/active/' + ${user.id} + '?active=' + ${user.enabled ? 'false' : 'true'}}"
                       th:text="${user.enabled ? 'Dar de baja' : 'Dar de alta'}">
                    </a>
                </th>
            </tr>
            </tbody>
        </table>
        <nav th:if="${totalPages > 1}" aria-label="Page navigation example">
            <ul class="pagination">
              <li th:each="i : ${#numbers.sequence(1, totalPages)}" class="page-item">
                <!--<a th:if="${i == 1 and currentPage == 1}"class="page-link">Anterior</a>
                <a th:if="${i == 1 and currentPage > 1}" th:href="@{'/dashboard/role/' + ${role} + '?page_number=' + ${currentPage-1} + '&state=' + ${state}}" class="page-link">Anterior</a>-->
                <a th:href="@{'/dashboard/role/' + ${role} + '?page_number=' + ${i} + '&state=' + ${state}}" class="page-link">[[${i}]]</a>
            </li>
            </ul>
          </nav>

    </section>
</main>

</body>
</html>