<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="~{fragments/head :: head (title ='Noticias')}"></div>

<body>
<div th:replace="~{fragments/header :: header}"></div>

<main class="container">
    <div th:replace="~{fragments/admin_nav :: admin_nav}"></div>
    <div th:replace="~{fragments/admin_nav_news :: admin_nav_news}"></div>
    <section>
    <table class="table">
        <thead>
            <tr class="text-center">
                <th colspan="4">Princial</th>
            </tr>
            <tr>
                <th>Titulo</th>
                <th>Fecha</th>
                <th>Autor</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${mainFeatured == null}" colspan="3" class="text-center">
                <th th:text="${mainFeaturedError}"></th>
                <th><button class="btn btn-primary">Seleccionar</button></th>
            </tr>
            <tr th:if="${mainFeatured != null}">
                <th th:text="${mainFeatured.title}"></th>
                <th th:text="${mainFeatured.createdAt}"></th>
                <th th:text="${mainFeatured.author.user.email}"></th>
                <th th:text="${mainFeatured.mainCategory.name}"></th>
                <th><button class="btn btn-primary">Cambiar</button></th>

            </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
        <tr class="text-center">
            <th colspan="5">Princial por categoria</th>
        </tr>
        <tr>
            <th scope="col">Categoria</th>
            <th scope="col">Titulo</th>
            <th scope="col">Fecha</th>
            <th scope="col">Autor</th>
            <th scope="col">Cambiar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="featured : ${featuredByCategory}">
            <th scope="row" th:text="${featured.categoryName}"></th>
            <td th:unless="${hasFeatured}" colspan="4" class="row w-100">
                <p class="color-danger col-6">No hay ninguna noticia destacada para esta categoria</p>
                <button class ="btn btn-primary col-6">Agregar</button></td>
            <div th:if="${hasFeatured}">
            <td th:text="${featured.newsTitle}"></td>
            <td th:text="${featured.newsAuthor}"></td>

            </div>
        </tr>
        </tbody>
    </table>
    </section>

</main>
</body>
</html>