<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="~{fragments/head :: head (title ='Egg News')}"></div>

<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <main class="container">
        <div th:replace="~{admin_dashboard/fragments/admin_nav :: admin_nav}"></div>
        <section>
            <h3>Ordenar por</h3>
            <a href="" class="btn btn-primary">Cantidad de denuncias</a>
            <a href="" class="btn btn-primary">Fecha</a>

           <section>
            <div th:each="comment : ${comments}" class="border-bottom border-2 py-3 ps-3 pe-2">
                <div>
                    <div class="d-flex flex-row justify-content-between">
                        <div class="col-10 d-flex flex-row gap-3 align-items-end">
                            <h5 class="fs-5" th:text="${comment.authorName}"></h5>
                            <h5 class="fs-6 fw-light  align-baseline" th:Text="${comment.date}"></h5>
                            <h5 class="fs-6 fw-light  align-baseline" th:text="${comment.hour}"></h5>
                        </div>
                        <div class="col-2 d-flex flex-row justify-content-between">
                            <div class="">
                                <h4 th:text="${comment.reports} + ' Denuncias'"></h4>
                               
                            </div>
                        </div>
                    </div>
                    <div>
                        <p class="m-0" th:text="${comment.comment}"></p>
                    </div>


                </div>
            </div>
           </section>
        </section>
      
    </main>

</body>

</html>