<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="~{fragments/head :: head (title ='Egg News')}"></div>

<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <main class="container">
        <div th:replace="~{admin_dashboard/fragments/admin_nav :: admin_nav}"></div>
        <div th:replace="~{admin_dashboard/fragments/admin_nav_users :: admin_nav_users}"></div>
        <div th:replace="~{admin_dashboard/fragments/admin_nav_users_state :: admin_nav_users_state (${role})}"></div>

        <section>
            <table class="table">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">Nombre</th>
                        <th scope="col">Email</th>
                        <th scope="col">Salario mensual</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="employee : ${employees}">
                        <th th:text="${employee.userInfo.name}+' '+${employee.userInfo.lastname}" class="reporterName">
                        </th>
                        <th th:text="${employee.userInfo.email}"></th>
                        <th th:text="${employee.monthlySalary}"></th>
                        <th>
                            <button class="btn btn-warning btn-modal"
                                th:attr="data-id=${employee.userInfo.id}, data-role=${employee.userInfo.role}, data-name=${employee.userInfo.name + ' ' + employee.userInfo.lastname}, data-email=${employee.userInfo.email}, data-salary=${employee.monthlySalary}"
                                data-bs-toggle="modal" data-bs-target="#exampleModal">Editar</button>
                        </th>
                    </tr>
                </tbody>
            </table>
        </section>
       <section th:replace="~{admin_dashboard/fragments/edit_user}"></section>

    </main>
    <script type="text/javascript" th:src="@{/scripts/changerole.js}"></script>

</body>

</html>