<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="~{fragments/head :: head (title ='Egg News')}"></div>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main class="container">
    <div th:replace="~{fragments/admin_nav :: admin_nav}"></div>
    <div><button><a th:href="@{/admin/dashboard}">Activos</a></button>
        <button><a th:href="@{/admin/dashboard/reporters}">Inactivos</a></button>
        <button><a>Todos</a></button></div>
    <button><a th:href="@{/admin/register}">Agregar</a></button></div>
    <section>
        <table class="table">
            <thead>
            <tr class="table-primary">
                <th scope="col">Nombre</th>
                <th scope="col">Nickname</th>
                <th scope="col">Email</th>
                <th scope="col">Rol</th>
                <th scope="col">Estado</th>
                <th scope="col">Salario mensual</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reporter : ${reporters}">
                <th th:text="${reporter.name}+' '+${reporter.lastname}"></th>
                <th th:text="${reporter.displayName}"></th>
                <th th:text="${reporter.email}"></th>
                <th>
                    <select name="role" id="role">
                        <option value="Usuario" th:selected="${user.role == 'USER'}">Cliente</option>
                        <option value="Periodista" th:selected="${user.role == 'REPORTER'}">Periodista</option>
                        <option value="Moderador" th:selected="${user.role == 'MODERATOR'}">Moderador</option>
                        <option value="Adminstrador" th:selected="${user.role == 'ADMIN'}">Adminstrador</option>
                    </select>
                </th>
                <th th:text="${reporter.enabled}"></th>
                <th th:text="${reporter.monthlySalary}"></th>
            </tr>
            </tbody>
        </table>
    </section>
</main>

</body>
</html>