<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="~{fragments/head :: head (title ='Agregar noticia')}"></div>

<body>

    <div th:replace="~{fragments/header :: header}"></div>
    <main class="container">
        <h1>Agregar Noticia</h1>
        <h1 th:if="${error != null}" th:text="${error}"></h1>
        <div class="d-flex justify-content-center">
            <form class="justify-content-center w-75"
                th:action="@{${edit != null} ? '/news/edit/' + ${form.id} : '/news/save'}" method="POST"
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Titulo</label>
                    <input type="text" class="form-control" id="title" name="title" th:value="${form.title}">
                </div>
                <div class="mb-3">
                    <label for="subtitle" class="form-label">Subtitulo</label>
                    <input type="text" class="form-control" id="subtitle" name="subtitle" th:value="${form.subtitle}">
                </div>

                <div class="mb-3" id="img-input-container">
                    <input class="form-control" type="file" id="archive" accept="image/jpeg" name="image">
                </div>
                <div class="image-preview-container" th:id="${form.imageId}">
                    <div th:if="${form.imageId != ''}" class="position-relative">
                        <img class="img-fluid image-tag" th:src="@{'/image/' + ${form.imageId}}" alt="">
                        <button type="button" class="btn btn-warning position-absolute top-0 end-0 m-3"
                            id="delete-img">Eliminar</button>
                    </div>
                    <div th:if="${form.imageId == ''}" class="position-relative">
                        <img class="img-fluid image-tag" src="" alt="">
                        <button type="button" class="btn btn-warning position-absolute top-0 end-0 m-3 visually-hidden"
                            id="delete-img-preview">Eliminar</button>
                    </div>
                    <input type="hidden" id="imgChange" name="imgChange" value="false">

                </div>

                <div class="mb-3">
                    <label for="imageCaption" class="form-label">Pie de fotografia</label>
                    <input type="text" class="form-control" id="imageCaption" name="imageCaption"
                        th:value="${form.imageCaption}">
                </div>

                <div class="mb-3">
                    <label for="body" class="form-label">Cuerpo de la noticia</label>
                    <input type="hidden" name="body">
                    <!--<textarea class="form-control" id="body" rows="3" name="body" th:text="${form.body}"></textarea>-->
                    <div id="editor">
                        <p>Hello World!</p>
                        <p>Some initial <strong>bold</strong> text</p>
                        <p><br></p>
                    </div>
                </div>

                <select class="form-select mb-3" aria-label="Default select example" name="mainCategory">
                    <option value="empty" selected>Seleccione la categoria principal</option>
                    <option th:each="categorySelected : ${form.categories}" th:value="${categorySelected.id}"
                        th:text="${categorySelected.name}" th:selected="${categorySelected.id == form.mainCategoryId}">
                    </option>
                </select>

                <div class="mb-3">
                    <div class="mb-1">
                        <span class="form-label">Categorias secundarias</span>
                    </div>
                    <div th:each="category : ${form.categories}" class="form-check">
                        <input class="form-check-input" type="checkbox" th:value="${category.id}"
                            th:id="${category.name}" name="categories" th:checked="${category.checked}">
                        <label class="form-check-label" th:for="${category.name}" th:text="${category.name}"></label>
                        <span th:text="${category.checked}"></span>
                    </div>

                </div>

                <div class="text-end">
                    <button th:if="${edit}" type="submit" class="btn btn-primary">Editar</button>
                    <button th:unless="${edit}" type="submit" class="btn btn-primary">Agregar</button>
                </div>
            </form>
        </div>

    </main>

    <script th:src="@{/scripts/news/edit.js}" type="text/javascript"></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    
    <script th:type="module" th:src="@{/scripts/editor.js}"></script>
    
<!--
    <script>
        var quill = new Quill('#editor', {
            theme: 'snow'
        });

        var form = document.querySelector('form');
        form.onsubmit = function () {
            // Populate hidden form on submit
            var body = document.querySelector('input[name=body]');
            var contents = quill.getContents()
            var json = JSON.stringify(contents, null, 2)
            console.log(json)
            var html = quill.deltaToHtml(contents)
            console.log(html)

            //form.submit()
            return false;
        };

    </script>
-->
</body>

</html>