<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="~{fragments/head :: head (title ='Agregar noticia')}"></div>

<body>

<div th:replace="~{fragments/header :: header}"></div>
<main class="container">
<h1>Agregar Noticia</h1>
<div class="d-flex justify-content-center">
<form class="justify-content-center w-75" th:action="@{/reporter/add}" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Titulo</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="title">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Cuerpo de la noticia</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="body"></textarea>
    </div>
    <div class="mb-3">
    <input class="form-control" type="file" id="archive" accept="image/jpeg" name="image">
    </div>
    <div class="mb-3">
        <select class="form-select" aria-label="Default select example" name="category">
            <option selected>Seleccione una categoria</option>
            <option value="BUILDINGS">Edificios</option>
            <option value="FOOD">Comida</option>
            <option value="NATURE">Naturaleza</option>
            <option value="PEOPLE">Personas</option>
            <option value="TECHNOLOGY">Tecnologia</option>
        </select>

    </div>

<div class="text-end">
    <button type="submit" class="btn btn-primary">Publicar</button>
</div>
</form>
</div>
<div><h3>Titulo cargado: </h3>
<h2 th:if="${titulo != null}" th:text="${titulo}"></h2>
    <h3>Body cargado: </h3>
    <h2 th:if="${body != null}" th:text="${body}"></h2>
    <h2 th:if="${error != null}" th:text="${error}"></h2>
</div>
</main>
</body>
</html>