<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="~{fragments/head :: head (title ='Agregar noticia')}"></div>

<body>

<div th:replace="~{fragments/header :: header}"></div>
<main class="container">
<h1>Agregar Noticia</h1>
<h1 th:if="${error != null}" th:text="${error}"></h1>
<div class="d-flex justify-content-center">
<form class="justify-content-center w-75" th:action="@{/news/save}" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="title" class="form-label">Titulo</label>
        <input type="text" class="form-control" id="title" name="title">
    </div>
    <div class="mb-3">
        <label for="subtitle" class="form-label">Subtitulo</label>
        <input type="text" class="form-control" id="subtitle" name="subtitle">
    </div>

    <div class="mb-3">
        <input class="form-control" type="file" id="archive" accept="image/jpeg" name="image">
    </div>

    <div class="mb-3">
        <label for="imageCaption" class="form-label">Pie de fotografia</label>
        <input type="text" class="form-control" id="imageCaption" name="imageCaption">
    </div>

    <div class="mb-3">
        <label for="body" class="form-label">Cuerpo de la noticia</label>
        <input class="form-control" id="body" rows="3" name="body">
    </div>

    <select class="form-select mb-3" aria-label="Default select example" name="mainCategory">
        <option value="empty" selected>Seleccione la categoria principal</option>
        <option th:each="categorySelected : ${categories}" th:value="${categorySelected.id}" th:text="${categorySelected.name}"></option>
    </select>

    <div class="mb-3">
        <div class="mb-1">
        <span class="form-label">Categorias secundarias</span>
        </div>
        <div th:each="category : ${categories}" class="form-check">
            <input class="form-check-input" type="checkbox" th:value="${category.id}" th:id="${category.name}" name="categories">
            <label class="form-check-label" th:for="${category.name}" th:text="${category.name}"></label>
        </div>

    </div>

<div class="text-end">
    <button type="submit" class="btn btn-primary">Agregar</button>
</div>
</form>
</div>
    <!--

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    <script>
        var quill = new Quill('#editor', {
          theme: 'snow'
        });

        var form = document.querySelector('form');
form.onsubmit = function() {
  // Populate hidden form on submit
  var body = document.querySelector('input[name=body]');
  body.value = JSON.stringify(quill.getContents());

  console.log("Submitted", $(form).serialize(), $(form).serializeArray());

  // No back end to actually submit to!
  alert('Open the console to see the submit data!')
  return false;
};
    </script> -->

</main>
</body>
</html>