<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="~{fragments/head :: head (title ='Egg News')}"></div>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main class="container">
    <div th:if="${mainFeaturedError}"><h1 th:text="${mainFeaturedError}"></h1></div>
    <div th:unless="${mainFeaturedError}"><h1>Noticia</h1></div>
    <div  th:each="newsC : ${news}">
        <h2 th:text="${newsC.categoryName}"></h2>
        <div th:each="newsCat : ${newsC.news}">
            <h1 th:text="${newsCat.title}"></h1>
        </div>
    </div>
</main>

</body>
</html>