<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="~{fragments/head :: head (title ='NewsApp')}"></div>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main class="container">
    <section class="row">
       <div th:if="${mainFeaturedEmpty}" class="col-8 border-bottom">
           <section th:replace="~{fragments/home/main_featured_empty :: main_featured_empty}"></section>
       </div>
       <div  class="col-8" th:unless="${mainFeaturedEmpty}">
           <section  th:replace="~{fragments/home/main_featured :: main_featured}"></section>
       </div>
       </div>
        <div class="col-lg-4">
            <h4 class="fs-4 fw-normal" >Últimas noticias</h4>
            <div class="ms-3 mb-3" th:each="latestNew : ${latest}">
                <h4 class="fs-6 fw-medium m-0" th:text="${latestNew.newsHour}"></h4><a th:href="@{'/news/' + ${latestNew.newsCategory} + '/' + ${latestNew.newsId}}" class="text-decoration-none text-dark"><h4 class="fs-6 fw-normal lh-1 ps-3" th:text="${latestNew.newsTitle}"></h4></a>
            </div>

        </div>
    </section>
 
    <section th:if="${featuredEmpty}" class="row gap-3 justify-content-between py-4 border-top border-3">
    
        <div class="position-relative p-0 col">
            <img th:src="@{https://placehold.co/600x250?text=Hello+World}" class="img-fluid m-0 mb-2 p-0 w-100" alt="" style="max-height:300px">
            <h4 class="fs-5 position-absolute top-0 p-2 m-3 bg-white">Noticias destacadas, de distintas categorías.</h4>
        </div>
        <div class="position-relative  p-0 col">
            <img th:src="@{https://placehold.co/600x250?text=Hello+World}" class="img-fluid m-0 mb-2 p-0 w-100" alt="" style="max-height:300px">
            <h4 class="fs-5 position-absolute top-0 p-2 m-3 bg-white">Noticias destacadas, de distintas categorías.</h4>
        </div>
    </section>

    <section th:unless="${featuredEmpty}"  class="row gap-4 justify-content-between py-4 border-top border-3">
        <div class="position-relative p-0 col"  th:each="featuredN : ${featured}">
            <a class="text-decoration-none link-dark" th:href="@{'/news/' + ${featuredN.newsCategory} + '/' + ${featuredN.newsId}}">
            <img th:src="@{'/image/' + ${featuredN.newsImageId}}"  class="img-fluid m-0 p-0 w-100  object-fit-cover" alt="" style="max-height:250px">
            <h4 class="fs-5 position-absolute top-0 p-2 m-3 bg-white" th:text="${featuredN.newsTitle}"></h4>
            </a>
        </div>


    <div th:if="${#lists.size(featured) == 1}" class="col p-0">
        <div class="position-relative">
            <img th:src="@{https://placehold.co/800x600?text=Hello+World}" class="img-fluid m-0 p-0 w-100 object-fit-cover" alt="" style="max-height:250px">
            <h4 class="fs-5 position-absolute top-0 p-2 m-3 bg-white">Noticias destacadas, de distintas categorías.</h4>
        </div>
    </div>
    </div>
    </section>
    <div th:if="${categoriesEmpty}">
        <section th:replace="~{fragments/home/categories_empty :: categories_empty}"></section>
    </div>
    <div th:unless="${categoriesEmpty}"  th:each="newsC : ${news}" class="mb-4">
        <h2 class="bg-info-subtle fs-4 fw-normal ps-3 py-2 mb-3" th:text="${newsC.categoryName}"></h2>
        <div th:if="${newsC.noNews == true}">
            <section th:replace="~{fragments/home/news_list_empty :: news_list_empty}"></section>
        </div>
        <div class="row">
            <div  th:each="newsListC : ${newsC.news}" class="col-3">
                <a class="text-decoration-none link-dark" th:href="@{'/news/' + ${newsC.categoryName} + '/' + ${newsListC.newsId}}">
                <img th:src="@{'/image/' + ${newsListC.newsImageId}}" class="img-fluid m-0 p-0 mb-2 w-100 object-fit-fill"  style="max-height: 150px" alt="">
                <h4 class="fs-5 fw-medium" th:text="${newsListC.newsTitle}"></h4>
            </a>
            </div>
        </div>
    </div>
</main>
<section th:replace="~{fragments/footer :: footer}"></section>

</body>
</html>