<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="~{fragments/head :: head (title ='NewsApp')}"></div>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main class="container">
    <section>
        <span th:text="">Categoria</span>
        <h1>Titulo de la noticia</h1>
        <h2>Subtitulo de la noticia</h2>
        <div>
            <span>Autor</span>
            <span>hh:mm dd/MM/yy</span>
        </div>
        <figure>
            <img src="" alt="Imagen noticia">
            <figcaption>Pie de foto</figcaption>
        </figure>
    </section>
        
    <section>
        Cuerpo de la noticia
    </section>

    <section>
        Comments
    </section>

    <section>
        ? relacionadas
    </section>
</main>
</body>
</html>