<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="~{fragments/head :: head (title ='${news.title}')}"></div>

<body>
<div th:replace="~{fragments/header :: header}"></div>
<main class="container">
    <h1 th:text="${news.autor.name}"></h1>
    <h1 th:text="${news.title}"></h1>
    <img th:src="@{/img/{id}(id=${news.image.id})}" alt="">
    <h2 th:text="${news.body}"></h2>
    <h3 th:text="${news.category}"></h3>
    <section>
        <h1>Comentarios</h1>
        <section sec:authorize="hasRole('USER')">
            <form th:action="@{/comment/add/{id}(id = ${news.id})}" method="post">
                <input type="text" name="comment">
                <input type="submit" value="enviar">
            </form>
        </section>
        <section>
            <div th:each="comment :${comments}">
                <h1 th:text="${comment.comment}"></h1>
            </div>
        </section>
    </section>
</main>
</body>
</html>