<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<div th:replace="~{fragments/head :: head (title ='Login')}"></div>

<body>
<div th:replace="~{fragments/header :: header}"></div>
<main class="container">
    <form th:action="@{/admin/image}" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="formFile" class="form-label">Default file input example</label>
            <input class="form-control" type="file" id="formFile" name="archive">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <h1 th:if="${image != null}" th:text="${image}"></h1>
</main>
</body>
</html>