<section th:fragment="categories_empty" class="row" xmlns:th="http://www.thymeleaf.org">
    <h2 class="bg-info-subtle fs-2 fw-normal ps-3 py-2 mb-3 border-top border-warning border-4">No se encontraron categorías</h2>
    <div class="col-3">
        <img th:src="@{https://placehold.co/300x250?text=Hello+World}" class="img-fluid m-0 mb-2 p-0  border-top border-warning border-4" alt="">
        <h4 class="fs-4">Noticias de la categoría correspondiente.</h4>
    </div>
    <div class="col-3">
        <img th:src="@{https://placehold.co/300x250?text=Hello+World}" class="img-fluid m-0 mb-2 p-0  border-top border-warning border-4" alt="">
        <h4 class="fs-4">Noticias de la categoría correspondiente.</h4>
    </div>
    <div class="col-3">
        <img th:src="@{https://placehold.co/300x250?text=Hello+World}" class="img-fluid m-0 mb-2 p-0  border-top border-warning border-4" alt="">
        <h4 class="fs-4">Noticias de la categoría correspondiente.</h4>
    </div>
    <div class="col-3">
        <img th:src="@{https://placehold.co/300x250?text=Hello+World}" class="img-fluid m-0 mb-2 p-0  border-top border-warning border-4" alt="">
        <h4 class="fs-4">Noticias de la categoría correspondiente.</h4>
    </div>
</section>