<section th:fragment="news_list_empty" class="row" xmlns:th="http://www.thymeleaf.org">
    <div class="col-3">
    <img th:src="@{https://placehold.co/300x250?text=Hello+World}" class="img-fluid m-0 mb-2 p-0  border-top border-warning border-4" alt="">
    <h4 class="fs-4">Noticias destacadas, de distintas categorías.</h4>
</div>
<div class="col-3">
    <img th:src="@{https://placehold.co/300x250?text=Hello+World}" class="img-fluid m-0 mb-2 p-0  border-top border-warning border-4" alt="">
    <h4 class="fs-4">Noticias destacadas, de distintas categorías.</h4>
</div>
<div class="col-3">
    <img th:src="@{https://placehold.co/300x250?text=Hello+World}" class="img-fluid m-0 mb-2 p-0  border-top border-warning border-4" alt="">
    <h4 class="fs-4">Noticias destacadas, de distintas categorías.</h4>
</div>
<div class="col-3">
    <img th:src="@{https://placehold.co/300x250?text=Hello+World}" class="img-fluid m-0 mb-2 p-0  border-top border-warning border-4" alt="">
    <h4 class="fs-4">Noticias destacadas, de distintas categorías.</h4>
</div>
</section>